@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
 font-family: "Roboto", sans-serif; (100-900)
 font-family: "Bree Serif", serif;
*/

:root {
    --text-clr: #333;
    --bg-clr: #3cd6d2;
    --light-clr: #9df2f9;
    --dark-clr: #032a3c;
    --accent-clr: #d1a126;
    --base-font: "Roboto", sans-serif;
    --secondary-font: "Bree Serif", serif;
    --size-lg: 4em;
    --size-med: 2.5em;
    --size-sm: 1.6em;
}
html { font-size: 10px; }
body {
    font-family: var(--base-font);
    background-color: var(--bg-clr);
    color: var(--text-clr);
    line-height: 1.5;
    font-size: calc(10px * 1.2);
}
h1{
    font-size: var(--size-lg);
    font-weight: 400;
    line-height: 1.1;
}
h2 {
    font-size: var(--size-med);
    font-weight: 500;
}
h3 {
    font-size: var(--size-med);
    font-weight: 500;
    line-height: 1.1;
}
p, ul {
    font-size: var(--size-sm);
    margin-bottom: var(--size-sm);
}
ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-sm);
}
li {
    background-color: var(--accent-clr);
    border: solid 1px var(--dark-clr);
    padding: var(--size-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - var(--size-sm));
}
main {
    background-color: var(--light-clr);
    padding: var(--size-sm);
    width: calc(100% - 40px);
    margin: auto;
}
header, footer {
    text-align: center;
    padding: var(--size-sm);
}








